.navMenu{
    display: flex;
    justify-content: space-around;
    padding: 30px 30px;
   
}

.linkMenu{
    display: flex;
    font-size: 18px;
    font-weight: 800;
    font-family: var(--fonte-principal);
    list-style-type: none;
    
}

.linkMenu span{
    padding: 0 30px;
}
