
:root{
  --fonte-principal: 'Montserrat';
  --cor-menu: #202020;
  --fonte-menu: 'Elsie Swash Caps';
  --cor-amarela: #FFCB47;
  --cor-branca: #fff;
}



body {
  margin: 0;
  font-family: var(--fonte-principal);
  background-image: url(./fundo-amarelo.svg);
  background-repeat: no-repeat;
  background-position: right 0px;
  background-size: 1027px;

}


